# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node

# Then, if tests pass, it runs a remote setup script on the configured server over SSH

name: Deploy to web server
on: workflow_dispatch
jobs:
  build:
    # disable deployment until we're back in action in 2023
    if: ${{ false }}

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm ci
      - run: npm run test
      - run: npm run lint

      - name: Deploy on Server
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: /home/cyclists_of_msn/apps/cyclists_of_msn_web/redeploy_backend
